.header{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.right{
    display: flex;
}

.right p {
    margin-right: 20px;
}

.title{
    font-weight: bold;
    font-size: 18px;
}